*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
    outline: none; border:none;
    text-decoration: none;
    font-weight: normal;
}

html{
    font-size: 62.5%;
    overflow: hidden;;
}

section{
    padding: 1rem 7%;
    min-height: 100%;
}

body{
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background: linear-gradient(royalblue, hotpink);
    padding: 5.5rem;

}

.heading{
    font-size: 3rem;
    text-align: center;
    padding: 1rem;
    color: #fff;

}

header{
    width: 35rem;
    background: rgba(255, 255, 255, .2);
    box-shadow: #fff 0px 0px 20px 5px;
    backdrop-filter: blur(.4rem);
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
}

header .user{
    padding-top: ;
}

header .user img{
    margin: 1rem 0;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 0 1rem rgba(255,255,255,.2);
}

header .user .name{
    font-size: 3rem;
    color: white;
    padding: .5rem 0;
}

header .navbar{
    padding: 1rem 3rem;
}

header .navbar ul li{
    margin: 1rem 0;
    list-style: none;
}

header .navbar ul li a{
    display: block;
    padding: 1rem;
    font-size: 2rem;
    color:#fff;
    background: rgba(255, 255, 255, .2);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
    border-radius: 1rem;
    transition: all .2s linear;
}

header .navbar ul li a:hover{
    color: #555;
    transition: none;
    background: rgba(255, 255, 255, .5);
}

.container{
    width: 80rem;
    height: 68rem;
    background: rgba(255, 255, 255, .2);
    box-shadow: #fff 0px 0px 20px 5px;
    backdrop-filter: blur(.4rem);
    border-radius: 1rem;
    overflow: hidden;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    padding-bottom: 10rem;
}

.home h3{
    font-size: 2.5rem;
    font-weight: lighter;
    color: #EEE;
}

.home .name span{
    font-size: 4rem;
    color: #fff;
}

.home img.x{
        position: absolute;

        z-index: -1;
    }

.home .share{
    position: absolute;
    left: 50%; 
    bottom: 5rem;
    transform: translateX(-50%);
    display: flex;
    padding: 1rem;
    background: rgba(255, 255, 255, .1);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
    transition:.2 linear;
    border-radius: 1rem;
}

.home .share a{
    background: rgba(255, 255, 255, .2);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
    padding: 1rem 2rem;
    margin: 1rem;
    color: #FFf;
    border-radius: 1rem;
    font-size: 2rem;
}

.home .share a:hover{
    background: rgba(255, 255, 255, .5);
    color: #555;
}

.me .content h3{
    font-size: 2.5rem;
    color: #eee;  
}

.me .content h3 span{
    color: #FFF;
}

.me .content p{
    font-size: 1.8rem;
    color: #eee;
    padding: .5rem 0;  
}  

.pt .content form i{
    display: block;
    height: 40px;
    width: 40px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    border: 4px solid #fff;
    border-radius: 50%;
    font-size: 30px;
}

.pt .content form .box{
    height: 35px;
    width: 100%;
    border-radius: 50px;
    border: none;
    outline: none;
    padding: 0 20px;
    margin: 10px 0;
    font-size: 26px;
    color: #666;
    background: rgba(255, 255, 255, .4);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
    text-transform: none;
}

.pt .content form input[type="submit"]{
    height: 38px;
    width: 140px;
    border-radius: 50px; 
    color: #FFF;
    background: deeppink;
    font-size: 20px;
    border: none;
    outline: none;
    margin: 20px 0;
    cursor: pointer;
    box-shadow: #fff 0px 0px 20px 5px;

}

.pt .content form input[type="submit"]:hover{
    letter-spacing: 2px;
    opacity: .8;
}

.pt .content form span{
    font-size: 20px;
    color: black;
}

.pt .content .name span{
    font-size: 17px;
    color:#fff;
}

.dt .content h3{
    font-size: 2.5rem;
    color: #eee;  
}


.theme{
    background: rgba(255,255,255,.2);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
    border-radius: 1rem;
    backdrop-filter:  blur(.4rem);
}

.theme-toggler span{
    display: block;
    height:3rem;
    width:3rem;
    border-radius: 50%;
    cursor: pointer;
    margin:2rem 2.5rem;
    box-shadow: 0 0 0 .5rem rgba(255,255,255,.2),
                0 1rem 2rem rgba(0,0,0,.4);
}


















